In [ ]:
# this code help me to import colendar file in mysql database with the help of this code i import all data into my colendar file

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(r"C:\Users\ratan\Downloads\Calendar.csv")

In [ ]:
df.head(3)

In [1]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="calsifer4435",
    database="Business_Sales_Performance_Data_Module"
)

cursor = conn.cursor()

# Loop through DataFrame and insert into MySQL

for i, row in df.iterrows():
    sql = "insert into people (id,name,age,city) values (%s,%s,%s,%s)"
    cursor.execute(sql,tuple(row))

# save changes and close connect

conn.commit()
cursor.close()
conn.close()

print("csv data imported into mysql successfully.")

In [ ]:
# This script loads customer data from a CSV file into a MySQL database using Pandas and SQLAlchemy. It helps automate the ETL process, making data ready for analysis and reporting.

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Load CSV with tab separator
df = pd.read_csv(r"C:\Users\ratan\Downloads\customer2.csv", sep="\t", encoding="latin1")

print("ðŸ‘‰ Columns loaded from CSV:", df.columns.tolist())  # Debug check

# Create SQLAlchemy engine
engine = create_engine("mysql+pymysql://root:calsifer4435@localhost:3306/Business_Sales_Performance_Data_Module")

# Load into MySQL
df.to_sql("customers", con=engine, if_exists="append", index=False)

print("âœ… Customer data loaded successfully!")

In [ ]:
# This script imports order data from a CSV file into a MySQL database using Pandas and mysql-connector. It automates data insertion into the sales table, making the dataset ready for analysis and reporting.

In [ ]:
import pandas as pd
import mysql.connector

# Load CSV
df = pd.read_csv(r"C:\Users\ratan\Downloads\Sales.csv", sep="\t")

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="calsifer4435",
    database="business_sales_performance_data_module"
)

cursor = conn.cursor()

# Insert data
for i, row in df.iterrows():
    
        sql="""
            INSERT INTO sales
            (OrderDate,StockDate,OrderNumber ,ProductKey ,CustomerKey ,TerritoryKey	,OrderLineItem	,OrderQuantity)
            VALUES (%s, %s, %s, %s, %s, %s,%s,%s)
            """
            
        cursor.execute(sql,tuple(row))

# save changes and close connect

conn.commit()
cursor.close()
conn.close()

print("csv data imported into mysql successfully.")

In [ ]:
#This script imports Product data from a CSV file into a MySQL database using Pandas and mysql-connector. It replaces missing values with NULL and inserts the records into the Products table, preparing the data for analysis and reporting.

In [ ]:
import pandas as pd
import mysql.connector

# Read CSV
df = pd.read_csv(r"C:/Users/ratan/Downloads/Products.csv",sep="\t")

# Replace NaN with None
df = df.where(pd.notnull(df), None)

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="calsifer4435",
    database="business_sales_performance_data_module"
)
cursor = conn.cursor()

sql = """
INSERT INTO Products 
(ProductKey, ProductSubcategoryKey, ProductSKU, ProductName, 
 ModelName, ProductColor, ProductSize, ProductStyle, ProductCost, ProductPrice)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

for idx, row in df.iterrows():
    values = (
        row['ProductKey'],
        row['ProductSubcategoryKey'],
        row['ProductSKU'],
        row['ProductName'],
        row['ModelName'],
        row['ProductColor'],
        row['ProductSize'],
        row['ProductStyle'],
        row['ProductCost'],
        row['ProductPrice']
    )
    cursor.execute(sql, values)

conn.commit()
cursor.close()
conn.close()

print("CSV data imported successfully!")

In [ ]:
#This script loads Returns data from a CSV file into a MySQL database using Pandas and mysql-connector. It also creates the Returns table if it doesnâ€™t exist and inserts all records, ensuring the data is ready for reporting and analysis.

In [ ]:
#

import pandas as pd
import mysql.connector

# 1. Load CSV into Pandas
df = pd.read_csv(r"C:\Users\ratan\Downloads\Returns.csv",sep="\t")


# 2. Handle NaN values (replace with None for SQL)
df = df.where(pd.notnull(df), None)

# 3. Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",       # change if needed
    user="root",            # your MySQL username
    password="calsifer4435",# your MySQL password
    database="business_sales_performance_data_module" # your database name
)
cursor = conn.cursor()

# 4. Create Table (only first time)
cursor.execute("""
CREATE TABLE IF NOT EXISTS Returns (
    ReturnID INT AUTO_INCREMENT PRIMARY KEY,
    ReturnDate DATE,
    TerritoryKey INT,
    ProductKey INT,
    ReturnQuantity INT
)
""")

# 5. Insert Data
insert_sql = """
INSERT INTO Returns (ReturnDate, TerritoryKey, ProductKey, ReturnQuantity)
VALUES (%s, %s, %s, %s)
"""

for _, row in df.iterrows():
    cursor.execute(insert_sql, (
        row['ReturnDate'],
        row['TerritoryKey'],
        row['ProductKey'],
        row['ReturnQuantity']
    ))

# 6. Commit and Close
conn.commit()
cursor.close()
conn.close()

print("âœ… Data imported successfully into MySQL!")

In [ ]:
#Thtable if it doesn records, ensuring the data is ready for reporting and analysis

In [ ]:
import pandas as pd
import mysql.connector

# Load CSV file
df = pd.read_csv(r"C:\Users\ratan\Downloads\Sales.csv", sep="\t")

# Replace NaN with None for MySQL compatibility
df = df.where(pd.notnull(df), None)

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="calsifer4435",
    database="business_sales_performance_data_module"
)
cursor = conn.cursor()


# Ensure all CustomerKey values exist in Customer table
unique_customers = df['CustomerKey'].dropna().unique()
for cust in unique_customers:
    cursor.execute(
        "INSERT IGNORE INTO Customer (CustomerKey) VALUES (%s)", 
        (int(cust),)
    )

print(f"âœ… Inserted/ensured {len(unique_customers)} customers in Customer table.")

# Insert query for Sales table
insert_sql = """
INSERT INTO Sales (OrderDate, StockDate, OrderNumber, ProductKey, CustomerKey, TerritoryKey, OrderLineItem, OrderQuantity)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
"""

# Prepare data for bulk insert
data = []
for _, row in df.iterrows():
    order_number = row['OrderNumber']
    if isinstance(order_number, str) and order_number.startswith("SO"):
        order_number = int(order_number.replace("SO", ""))
    else:
        order_number = int(order_number)

    values = (
        row['OrderDate'],
        row['StockDate'],
        order_number,
        row['ProductKey'],
        row['CustomerKey'],
        row['TerritoryKey'],
        row['OrderLineItem'],
        row['OrderQuantity']
    )
    data.append(values)

# Bulk insert into Sales
cursor.executemany(insert_sql, data)

# Commit changes & close connection
conn.commit()
cursor.close()
conn.close()

print("âœ… Sales data imported successfully into MySQL!")